In [40]:
pip install dataframe-image

Requirement already satisfied: dataframe-image in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (0.1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: matplotlib>=3.1 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (3.5.1)
Requirement already satisfied: aiohttp in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (3.8.1)
Requirement already satisfied: requests in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (2.27.1)
Requirement already satisfied: pandas>=0.24 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (1.3.5)
Requirement already satisfied: beautifulsoup4 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (4.11.1)
Requirement already satisfied: nbconvert>=5 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from dataframe-image) (6.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (9.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (0.11.0)
Requirement already satisfied: numpy>=1.17 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from matplotlib>=3.1->dataframe-image) (21.3)
Requirement already satisfied: jupyter-core in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (4.9.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.5.13)
Requirement already satisfied: testpath in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.8.4)
Requirement already satisfied: jupyterlab-pygments in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.1.2)
Requirement already satisfied: defusedxml in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.7.1)
Requirement already satisfied: pygments>=2.4.1 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (2.11.2)
Requirement already satisfied: nbformat>=4.4 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (5.3.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (0.4)
Requirement already satisfied: jinja2>=2.4 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (2.11.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (1.5.0)
Requirement already satisfied: bleach in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (4.1.0)
Requirement already satisfied: traitlets>=5.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbconvert>=5->dataframe-image) (5.1.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from jinja2>=2.4->nbconvert>=5->dataframe-image) (2.0.1)
Requirement already satisfied: nest-asyncio in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe-image) (1.5.5)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe-image) (6.1.12)
Requirement already satisfied: tornado>=4.1 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe-image) (6.1)
Requirement already satisfied: pyzmq>=13 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert>=5->dataframe-image) (22.3.0)
Requirement already satisfied: pywin32>=1.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from jupyter-core->nbconvert>=5->dataframe-image) (302)
Requirement already satisfied: jsonschema>=2.6 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.4->nbconvert>=5->dataframe-image) (4.4.0)
Requirement already satisfied: fastjsonschema in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.4->nbconvert>=5->dataframe-image) (2.15.1)
Requirement already satisfied: importlib-resources>=1.4.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->dataframe-image) (5.2.0)
Requirement already satisfied: importlib-metadata in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->dataframe-image) (4.11.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->dataframe-image) (0.18.0)
Requirement already satisfied: typing-extensions in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->dataframe-image) (4.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->dataframe-image) (21.4.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->dataframe-image) (3.7.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.24->dataframe-image) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1->dataframe-image) (1.16.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from aiohttp->dataframe-image) (1.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from aiohttp->dataframe-image) (1.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from aiohttp->dataframe-image) (2.0.4)
Requirement already satisfied: asynctest==0.13.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from aiohttp->dataframe-image) (0.13.0)

In [41]:
# Dependencies
import numpy as np

import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from sqlalchemy import extract

import dataframe_image as dfi

Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from aiohttp->dataframe-image) (5.1.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from aiohttp->dataframe-image) (4.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from aiohttp->dataframe-image) (1.5.1)
Requirement already satisfied: idna>=2.0 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from yarl<2.0,>=1.0->aiohttp->dataframe-image) (3.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from beautifulsoup4->dataframe-image) (2.3.1)
Requirement already satisfied: webencodings in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert>=5->dataframe-image) (0.5.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from requests->dataframe-image) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\danny\anaconda3\envs\pythondata\lib\site-packages (from requests->dataframe-image) (1.26.9)

In [42]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [43]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [44]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement).filter(extract('month', Measurement.date))
june_temps

In [45]:
#  3. Convert the June temperatures to a list.
june_temps_list = [temp.tobs for temp in june_temps]
june_temps_list [:5]

[65.0, 63.0, 74.0, 76.0, 73.0]

In [46]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(june_temps_list, columns=['June Temps'])
june_temp_df

       June Temps
0            65.0
1            63.0
2            74.0
3            76.0
4            73.0
...           ...
19545        71.0
19546        78.0
19547        76.0
19548        76.0
19549        76.0

[19550 rows x 1 columns]

In [52]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp_summary_stat = june_temp_df.describe()

# Export as an image
dfi.export(june_temp_summary_stat, "Images/june_temp_summary_stat.png") 


june_temp_summary_stat

         June Temps
count  19550.000000
mean      73.097954
std        4.523527
min       53.000000
25%       70.000000
50%       73.000000
75%       76.000000
max       87.000000

## D2: Determine the Summary Statistics for December

In [55]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement).filter(extract('month', Measurement.date))
dec_temps

In [56]:
# 7. Convert the December temperatures to a list.
dec_temps_list = [temp.tobs for temp in dec_temps]
dec_temps_list [:5]

[65.0, 63.0, 74.0, 76.0, 73.0]

In [57]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp_df = pd.DataFrame(dec_temps_list, columns=['December Temps'])
dec_temp_df

       December Temps
0                65.0
1                63.0
2                74.0
3                76.0
4                73.0
...               ...
19545            71.0
19546            78.0
19547            76.0
19548            76.0
19549            76.0

[19550 rows x 1 columns]

In [59]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp_summary_stat = dec_temp_df.describe()

# Export as an image
dfi.export(dec_temp_summary_stat, "Images/dec_temp_summary_stat.png") 

dec_temp_summary_stat

       December Temps
count    19550.000000
mean        73.097954
std          4.523527
min         53.000000
25%         70.000000
50%         73.000000
75%         76.000000
max         87.000000